h1{
    align-content: center;
    text-align: center;
    margin: auto;
    font-family: sans-serif;
}
#container{
    margin: auto;
    padding-bottom: 2px;
    text-align: justify;
    width: fit-content;
    width: -moz-fit-content;
    border-style: dashed;
    border-color: rgb(25, 129, 189);
}
.inline_container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 20px;
    column-gap: 20px;
    margin: auto;
    font-family: sans-serif;
    padding: 1rem;
}
.user_no_family,.name_user{
    margin: auto;
    padding: 20px;
    color: teal;
    font-family: sans-serif;
    font-size: large;
}
.return_button{
    background-color: #f1f1f1;
    color: #000;
    font-size: medium;
    display: block;
    margin: auto;
    height: 35px;
    transition: all 0.5s;
    font-family: monospace;
    border-radius: 5px;
}
.return_button:hover{
    background-color: rgba(35, 29, 97, 0.74);
    color: whitesmoke;
    font-family: monospace;
}


/* for search page*/

#bannercontainer{
    background-color: #ccead5;
    width: 100%;
    height: 20%;
    display: block;
}
#searchbody{
    display: block;
    margin: auto;
    width: 50%;
    align-self: center;
    transition: 1.2s;
}
#search_input{
    flex: 90%;
    height: 100%;
    font-size: 1.2rem;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color:#000;
    width: 100%;
    overflow: hidden;
}
#searchbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
    font-size: large;
    font-family: sans-serif;
    position: sticky;
}
#searchbox > button{
    flex: 10%;
    background-image: url(/static/asserts/search.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20%;
    padding: 0 0 0 20px;
    font-family: sans-serif;
    font-size: large;
}
#search_suggestions{
    width: 90%;
    display: block;
    margin: auto;
    padding: 20px;
    min-height: 20px;
}
#search_suggestions > p{
    font-size: 2.2rem;
    font-family: sans-serif;
    text-align: center;
}
#search_suggestions > p:hover{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    background-color: #616161f3;
    color: white;
}