/* form styles */
#join-form {
    margin: auto;
    width: auto;
    padding: 10px;
}
#form-holder{
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: rebeccapurple;
    border-radius: 16px;
    width: 60%;
    margin: auto;
    /* margin-top: -10px; */
}
#holder-header{
    background-color: white;
}
#family-details {
    height: auto;
}

#ration_card,#f_ration_card{
    display: none;
}
hr{
color:#000;
border-color:cadetblue;
width: 60%;
margin-top: 2vw;
border-width: 8px;
border-style: none;
border-bottom-style: dotted;
}
/* input fields styles */
label {
    color: #0d70e0;
}
.childplus{
    padding : 2px;
    display: block;
    margin: auto;
}
.label{
    color: #0d70e0;
    font-family: sans-serif;
    padding: 2vh;
    padding-bottom: 0px;
}
#label_community,
.nohide,.radio_label {
    display: block !important;
}
#join-body{
    background-color: #f6f5f4;
    margin-left: 0px;
    margin-right:0px;
    margin-top:0px;
    background-image: linear-gradient(180deg, #009688d9,#fada, #1adf55d2);
}
fieldset {
    margin: 15px;
    border-radius: 25px;
    border-style: ridge;
    border-color: black;
    color: black;
    padding: 19px;
}

#work_status_cont,
#work_status_permanent {
    display: none;
    font-family: sans-serif;
}

input[type="text"],
input[type="date"] {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    font-size: 20px;
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 5vh;
    width: 100%;
    background-color: transparent;
    background-image: url('/static/asserts/arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 4vh;
    border: none;
}
legend {
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    color: #0d70e0;
    display: none;
}
/* box for radio buttons*/
.boxe{
    border-style: ridge;
    border-width: 2px;
    margin: 15px;
    padding: 20px;
    padding-top: 0px;
    border-color: black;
    border-radius: 25px;
}
/*expandable header*/
#header-join{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
    justify-content: space-around;
    transition: 0.2s;
}
#header-logo{
    flex: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2px;
}
#desc-logo{
    flex: 300%;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
#header-logo img{
    padding: 2px;
    margin: 4px;
    border-radius: 20px;
    max-height: 8vw;
}
#desc-logo img{
    max-height: 8vh;
    max-width: 5vh;
    flex:10%;
    align-self: flex-end;
    opacity: 0.7;
    float: right;
    display: block;    
}
#desc-logo p{
    font-family: 'Mukta Malar', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    margin: auto;
    display: block;
    align-self: center;
    color: rgb(93, 93, 165);
    letter-spacing: 2px;
    text-align: center;
    flex: 90%;
}
/*media Queries go here*/
@media only screen and (max-width:600px){
    fieldset {
        margin: 10px;
        border-radius: 15px;
        padding: 10px;
    }
    .boxe{
        margin: 10px;
        border-radius: 15px;
        padding: 6px;
    }
}
@media only screen and (max-width:899px){
    #header-join{
        display: none;
    }
}