#main{
    margin: auto;
    background-image: linear-gradient(180deg,#009688, #2196F3);
    background-position: center;
    background-size: cover;
    background-repeat: round;
}

/* Head-banner */

#banner{
    margin: auto;
    background-position: center;
    background-size: cover;
    padding-bottom: 2%;
}
#login_logo{
  height: 35rem;
  margin: auto;
  display: block;
}

/*I got that Boom Boom <>_<> */
#flex-container{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#logo_left{
  flex: 20%;
}
#logo_left img{
  height: 36vh;
  margin-top: 20px;
  border-radius: 24px;

}
#description{
  flex: 60%;
}
#description h1{
  text-align: center;
  color: #000;
  font-family: 'Mukta Malar', sans-serif;
  
}
#description strong{
  font-size: large;
  text-transform: capitalize;
  display: block;
  text-align: center;
  letter-spacing: 1.3px;
  font-family: 'Mukta Malar', sans-serif;
}
h3{
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 2px;
}
#logo_right{
  flex: 20%;
}
#logo_right img{
  height: 30vh;
  margin-top: 15px;
  margin-right: 0px;
  border-radius: 20px;
}
#banner > p{
text-align: center;
color: #e67e22;
line-height: 2em;
font-size: large;
font-family: sans-serif;
margin: 0px;
}
#username ,#password{
  font-size: 20px;
  margin-top: 25px;
  border-style: none;
  outline: none;
  background: none;
  border-bottom-style: ridge;
  border-bottom-width: 3px;
  width: 100%;
}
#username::after{
  -moz-transition: .5s;
  transition: .5s;
  content: attr();
}
#submit-main{
background-image: linear-gradient(120deg,#1adf54,
#be75d9);
height: 8vh;
width: 18vh;
margin: auto;
display: block;
border-radius: 100px;
color:snow;
font-size: larger;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
}
#submit-main:hover{
  background-image: linear-gradient(270deg,#1adf54,
  #be75d9);
  transition: .15s;
}
#watermark-img{
  height: 120px;
  align-self: flex-end;
  float: right;
  opacity: 0.7;
  margin-top: 2px;
  margin-right: 25px; 
}
/* Loginform */
#login{
    padding: 10%;
    margin: auto;
    display: block;
    margin-bottom: 0px;
    width: 53vh;
    border: solid 3px;
    border-color: seashell;
    border-radius: 15px; 
    background: seashell;
  }
  #loginform{
    max-width:53vh;
    margin: auto;
}


/*-------------------------------------Search-box----------------------------*/
#buttons_id{
  display: flex;
  align-content: center;
}
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    margin-top:2vh;
    margin-bottom: 2vh;
    align-self: center;
  }
  #search_m{
    background-image: url(/static/asserts/search.png);
    padding-left: 30px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left center;
  }
  #download_all{
    background-image: url(/static/asserts/download_img.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-size: 24px;
    background-position: left center; 
  }
  .openBtn:hover {
    background: #bbb;
  }
  

  /* oct 26 , onblur att. */

    /* 
    media queries goes here
    window sized view
    min:821 max:1105
    

    */
@media only screen and (min-width:1105px){
  #flex-container{
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
  }
}
@media only screen and (min-width:821px){
  #flex-container{
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
  }
}
@media only screen and (max-width:600px){
 #watermark-img{
   margin-right: 10px;
 }

}