{% extends 'base.html' %}

{% block head %}
<script>
    window.onload = function(){
        var timeleft = 5
        var downTimer = setInterval(function(){
            timeleft--
            document.getElementsByTagName('span')[0].textContent = timeleft
            if(timeleft <=0 ){
                clearInterval(downTimer)
                window.location = "static/database/PTS_members.xlsx"
            }
        },1000)
    }
</script>
<style>
.textm{
    display: block;
    margin: auto;
    text-align: center;
    align-content: center;
    width: 100%;
}
.btn{
    height: 60px;
    color: white;
    background: linear-gradient(120deg,#2196f3,#1adf54);
    border-radius: 40px;
    border-style: none;
    padding: 20px;
    font-size: large;
    outline-style: none;
}
</style>
{% endblock %}

{% block body %}

<body>
    <div class="textm">
        <p>
            your download must begin in <span>5</span> seconds.... <br>
            if not <b><a href='{{downloadlinkX}}' download="PTS_Members.xlsx">click here to start download</a>
                <br>
                <a href="static/database/PTS_members.xlsx" download="PTS_members_Excel.xlsx"><button class="btn">download</button></a></b> 
        </p>
    </div>
</body>

{% endblock %}