{% extends 'base.html' %}

{% block body %}
<!-- <script>
// function showlabelLogin(elementID){
//     var ele = document.getElementById(elementID)
//     ele.style = "-moz-transition: .5s;transition: .5s;display:block;"
// }
</script> -->
<body id="main">
<div id="header">
    <div id="flex-container">
        <div id="logo_left">
            <img src="/static/asserts/alternate_logo.png" alt="error while loading">
        </div>
        <div id="description">
            <p><h1>பெண் தொழிலாளர்கள் சங்கம்(PTS)</h1> 
                
            <strong>மற்றும் கார்மெண்ட்ஸ் & பேஷன் ஒர்க்கேர்ஸ் யூனியன்(GAFWU)</strong></p>
        </div>
        <div id="logo_right">
            <img src="/static/asserts/gafwu.png" alt="error while loading">
        </div>
    </div>
    <h3>Online Membership Form</h3>
</div>
    <div id="loginform" style="margin-top: 16px;">
        <div id="login">
            <form action="{{ url_for('login') }}" method="POST">
                <label for="username" id="user">User</label> <br>
                <input name="username" id="username" type="tel">
                <br><br>
                <label for="password" id="passwd">Password</label><br>
                <input name="pass" id="password" type="password"> <br><br>
                <input type="submit" id="submit-main" value="Login">
            </form>
        </div>
    </div>
    <img src="/static/asserts/NTUI.png" id="watermark-img" alt="failed to load image">    
    {% endblock %}
    </body>