{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/script.js') }}">
</script>
<script type="text/javascript" src="/static/js/validation.js">
</script>
<link rel="stylesheet" href="/static/css/join.css">


<style>
  #lwb_yes_id {
    display: none;
  }

  #label_fields_error {
    font-family: monospace;
    color: red;
    font-size: medium;
    display: none;
  }

  #label_fields_bank_error {
    font-family: monospace;
    font-size: medium;
    color: red;
    display: none;
  }
#lwb_yes_id{
  display: none;
}
#label_fields_error{
  font-family: monospace;
  color: red;
  font-size: medium;
  display: none;
}
#label_fields_bank_error{
  font-family: monospace;
  font-size: medium;
  color: red;
  display: none;
}

</style>
{% endblock %}

{% block body %}

<body id="join-body">
  <div id="holder-header">
    <div id="header-join">
      <div id="header-logo">
        <img src="/static/asserts/alternate_logo.png" alt="pts logo-img">
        <img src="/static/asserts/gafwu.png" id="gafu" alt="gafwu logo-img">
      </div>
      <div id="desc-logo">
        <p>பெண் தொழிலாளர்கள் சங்கம்(PTS)</p>
        <img src="/static/asserts/NTUI.png" alt="NITU logo-img">
      </div>
    </div>
  </div>
  <div id="buttons_id">
    <button class="openBtn" id="search_m" onclick="goSearch()">Search members</button>
    <button class="openBtn" id="download_all" onclick="goD()">get All Details</button>
  </div>
  <div id="form-holder">

    <form action="{{ url_for('join') }}" method="POST" id="join-form">
      <p class="label">Volunteer Details</p>
      <fieldset id="f_volunteer_name">
        <legend id="label_volunteers">Volunteer's Name</legend>
        <input type="text" name="volunteer" id="volunteer_name_id" placeholder="Volunteer's Name"
          onfocus="showlabel('label_volunteers')" onblur="hidelabel('label_volunteers')">
      </fieldset>
      <hr>
      <!-- <fieldset>
      <legend id="label_member">Member ID:</legend>
      <input type="text" name="member_id" id="member_id" placeholder="Member ID" onfocus="showlabel('label_member')" onblur="hidelabel('label_member')">
    </fieldset> -->
      <fieldset id="wrk_st">
        <h4>
          Work Status
        </h4>
        <legend id="label_work_Stauts">Work status</legend>
        <input type="radio" name="work_status" value="contract" onclick="workstatus_cont()">Contract based<br>
        <input type="radio" name="work_status" value="permanent" onclick="workstatus_permanent()">Permanent<br>
        <div id="work_status_cont">
          <fieldset id="f_work_status_cont_name">
            <legend id="label_work_Stauts_cont">Contractor Name:</legend>
            <input type="text" name="contractor_name" id="contractor_id" placeholder="Contractor Name"
              onfocus="showlabel('label_work_Stauts_cont')" onblur="hidelabel('label_work_Stauts_cont')">
          </fieldset>
          <fieldset id="f_work_status_cont_add">
            <legend id="label_work_Stauts_cont_add">Contractor Address:</legend>
            <input type="text" name="cont_address" id="cont_address" placeholder="Contractor Address"
              onfocus="showlabel('label_work_Stauts_cont_add')" onblur="hidelabel('label_work_Stauts_cont_add')">
          </fieldset>
        </div>
        <div id="work_status_permanent">
          <fieldset id="f_perma_com_name">
            <legend id="label_work_Stauts_company">Company Name:</legend>
            <input type="text" name="company_name" id="company_id" placeholder="Company Name"
              onfocus="showlabel('label_work_Stauts_company')" onblur="hidelabel('label_work_Stauts_company')">
          </fieldset>
          <fieldset id="f_perma_com_addr">
            <legend id="label_work_Stauts_company_add">Company Address:</legend>
            <input type="text" name="company_address" id="company_address" placeholder="Contractor Address"
              onfocus="showlabel('label_work_Stauts_company_add')" onblur="hidelabel('label_work_Stauts_company_add')">
          </fieldset>
        </div>
      </fieldset>

      <p class="label">Person's Details</p>
      <fieldset id="f_person_name">
        <legend id="label_fname">Person's Name</legend>
        <input type="text" name="name" id="person_fname_id" placeholder="Person's Name"
          onfocus="showlabel('label_fname')" onblur="hidelabel('label_fname')">
      </fieldset>
      <fieldset id="f_person_fname">
        <legend id="label_lname">Father's name</legend>
        <input type="text" name="fname" id="person_lname_id" placeholder="Father's Name"
          onfocus="showlabel('label_lname')" onblur="hidelabel('label_lname')">
      </fieldset>
      <fieldset id="f_dob">
        <legend id="label_dob">Date of Birth</legend>
        <input type="text" placeholder="Date of Birth" name="dob" id="person_dob_id"
          onfocus="showlabel('label_dob'); changetype('person_dob_id')"
          onblur="hidelabel('label_dob'); changetypeT('person_dob_id')">
      </fieldset>
      <fieldset id="f_id_no">
        <legend id="label_idno">Id number</legend>
        <input type="text" pattern="[0-9]*" name="idno" placeholder="Id number" onfocus="showlabel('label_idno')"
          onblur="hidelabel('label_idno')">
      </fieldset>
      <fieldset id="f_gender_m">
        <legend id="label_gender_m" class="nohide">
          Member's gender
         </legend>
        <select id="m_gender_id" name="member_gender">
          <option value="notselected">Select gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="transgender">Non Binary</option>
          <option value="Ntm">Prefer not to say</option>
        </select>
      </fieldset>
      <fieldset id="f_edu">
        <legend id="label_education">Education Details</legend>
        <input list="dataEdu" name="education" id="education_id" placeholder="Education detials" type="text"
          onfocus="showlabel('label_education')" onblur="hidelabel('label_education')">
      </fieldset>
      <datalist id="dataEdu">
        <option value="Not Attended">Not Attended</option>
        <option value="Primary School">Primary School</option>
        <option value="8th">8th Completed</option>
        <option value="SSLC">SSLC</option>
        <option value="HSC">HSC</option>
      </datalist>
      <fieldset id="f_comm">
        <legend id="label_community">Community</legend>
        <select name="community" id="community_id">
          <option value="notselected">Select the community</option>
          <option value="SC">SC</option>
          <option value="SCA">SCA</option>
          <option value="ST">ST</option>
          <option value="OBC">OBC</option>
          <option value="OC">OC</option>
          <option value="MBC">MBC</option>
          <option value="BCM">BCM</option>
          <option value="BC">BC</option>
        </select>
      </fieldset>
      <div id="address_container">
        <fieldset id="f_door">
          <legend id="label_doorno">Door number</legend>
          <input type="text" name="doorno" id="person_address_door_id" placeholder="Door number"
            onfocus="showlabel('label_doorno')" onblur="hidelabel('label_doorno')">
        </fieldset>
        <fieldset id="f_colony">
          <legend id="label_street">Colony / Street / Locality</legend>
          <input type="text" name="Locality" id="person_address_street_id" placeholder="Colony / Street / Locality"
            onfocus="showlabel('label_street')" onblur="hidelabel('label_street')">
        </fieldset>
        <fieldset id="f_taluk">
          <legend id="label_taluk">Taluk</legend>
          <input type="text" name="taluk" id="person_address_taluk" placeholder="Taluk"
            onfocus="showlabel('label_taluk')" onblur="hidelabel('label_taluk')">
        </fieldset>
        <fieldset id="f_village">
          <legend id="label_village">village</legend>
          <input type="text" name="village" id="person_address_village" placeholder="village"
            onfocus="showlabel('label_village')" onblur="hidelabel('label_village')">
        </fieldset>
        <fieldset id="f_post">
          <legend id="label_postoffice">post Office</legend>
          <input type="text" name="postoffice" id="person_address_taluk" placeholder="Post Office"
            onfocus="showlabel('label_postoffice')" onblur="hidelabel('label_postoffice')">
        </fieldset>
        <fieldset id="f_dist">
          <legend id="label_district">district</legend>
          <input type="text" name="district" id="person_address_district" placeholder="district"
            onfocus="showlabel('label_district')" onblur="hidelabel('label_district')">
        </fieldset>
        <fieldset id="f_city">
          <legend id="label_city">City</legend>
          <input type="text" name="city" id="person_address_city_id" placeholder="City"
            onfocus="showlabel('label_city')" onblur="hidelabel('label_city')">
        </fieldset>
        <fieldset id="f_pin">
          <legend id="label_pincode">Pincode</legend>
          <input type="text" name="pincode" id="person_address_pincode_id" placeholder="Pincode"
            onfocus="showlabel('label_pincode')" onblur="hidelabel('label_pincode')" pattern="^[0-9]{6,6}$"
            title="Incorrect pincode(example: 603105)">
        </fieldset>
      </div>


      <div id="family-details">
        <p class="label">Family details</p>
        <div class="children" id="children">
          <input id="cno" value="1" type="text" name="child_number" style="display: none;">
          <fieldset id="f_cname1">
            <legend id="cname">Name</legend>
            <input name="child_name1" type="text" onfocus="showlabel('cname')" onblur="hidelabel('cname')"
              placeholder="Name">
          </fieldset>
          <fieldset id="f_cgender1">
            <legend id="cgender">Gender</legend>
            <select id="gender_id" name="child_gender1" class="nohide">
              <option value="notselected">Select gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="transgender">Non Binary</option>
              <option value="Ntm">Prefer not to say</option>
            </select>
          </fieldset>
          <fieldset id="f_cage1">
            <legend id="cage">Age</legend>
            <input name="child_age1" type="text" pattern="[0-9]*" placeholder="Age" onfocus="showlabel('cage')"
              onblur="hidelabel('cage')">
          </fieldset>

          <fieldset id="f_cq1">
            <legend id="cqualification">Qualification</legend>
            <input list="edu" name="child_qualification1" placeholder="Qualification" type="text"
              onfocus="showlabel('cqualification')" onblur="hidelabel('cqualification')">
            <datalist id="edu">
              <option value="Not attended">
              <option value="Primary school">
              <option value="8th">
              <option value="SSLC">
              <option value="HSC">
              <option value="Diploma">
              <option value="UG">
              <option value="PG">
            </datalist>
          </fieldset>
          <fieldset id="f_cr1">
            <legend id="tor">Relationship type</legend>
            <input list="relation" name="relation_type1" type="text" placeholder="Relationship type"
              onfocus="showlabel('tor')" onblur="hidelabel('tor')">
            <datalist id="relation">
              <option value="father">
              <option value="mother">
              <option value="son">
              <option value="daughter">
              <option value="Husband">
                Husband
              </option>
              <option value="Wife">Wife</option>
              <option value="brother">
              <option value="sister">
              <option value="uncle">
              <option value="other">
            </datalist>
          </fieldset>
        </div>
        <div id="addch">

          <button class="childplus" onclick="return addchild()"> + Add Members</button>

        </div>
      </div>
<hr>
      <p class="label">Other Details</p>
      <div class="boxe">
        <p class="label">House details:</p>
        <input type="radio" name="house" value="owned">Owned<br>
        <input type="radio" name="house" value="rented">Rented<br>
      </div>

      <fieldset id="f_c_work">
        <legend id="label_current_work">current work</legend>
        <input list="current_work" type="text" placeholder="Current Work" name="current_work"
          onfocus="showlabel('label_current_work')" onblur="hidelabel('label_current_work')">
        <datalist id="current_work">
          <option value="Domestic worker">
          <option value="Construction">
          <option value="Street Vendor">
          <option value="Home based tailor">
          <option value="Flower vendor">
          <option value="Health worker">
          <option value="Others">
        </datalist>
      </fieldset>
      <fieldset id="f_pay">
        <label id="label_payship">Payship</label> <br>
        <input name="payship" type="radio" value="yes">Yes<br>
        <input name="payship" type="radio" value="no">No <br>
      </fieldset>

      <fieldset id="f_pf">
        <label id="label_pf">PF</label><br>
        <input name="pf" type="radio" value="yes">Yes <br>
        <input name="pf" type="radio" value="no">No <br>
      </fieldset>

      <fieldset id="f_esi">
        <label id="label_esi">ESI</label><br>
        <input name="esi" type="radio" value="yes">Yes <br>
        <input name="esi" type="radio" value="no">No <br>
      </fieldset>
      <fieldset id="f_lwb">
        <label id="_label_lwb">Are you a member of Labour Welfare Board?</label><br>
        <input name="lwb" type="radio" value="yes" onclick='fun_lwb_yes()'>Yes <br>
        <input name="lwb" type="radio" value="no" onclick="fun_lwb_no()">No <br>
      </fieldset>
        <fieldset id="lwb_yes_id">
          <legend id="label_lwb_yes">LWB date of joining:</legend>
          <input name="lwb_yes" type="date">
        </fieldset>  
      <fieldset id="f_work_place">
        <legend id="label_workplace">Workplace</legend>
        <input type="text" name="work_place" id="workplace_id" placeholder="Workplace"
          onfocus="showlabel('label_workplace')" onblur="hidelabel('label_workplace')">
      </fieldset>
      <fieldset class="boxe">
        <p id="label_fields">Current salary Details, Select the category and enter the salary.</p>
        <p id="label_fields_error">Please select the wage type ! </p>
        <input type="radio" name="salary_type" value="daily">Daily Wages<br>
        <input type="radio" name="salary_type" value="monthly">Monthly Wages<br>
        <input type="radio" name="salary_type" value="yearly">yearly Wages<br>
      </fieldset>
      <fieldset id="f_salary">
        <legend id="label_salary">Salary</legend>
      <input type="text" pattern="[0-9]*" name="salary" placeholder="Salary" onfocus="showlabel('label_salary')"
          onblur="hidelabel('label_salary')">
      </fieldset>

      <fieldset id="f_working_hours">
        <legend id="label_working_hours">Working Hours</legend>
        <input type="text" name="working_hours" pattern="[0-9]*" placeholder="Working hours" maxlength="2"
          onfocus="showlabel('label_working_hours')" onblur="hidelabel('label_working_hours')">
      </fieldset>

      <fieldset id="f_experience">
        <legend id="label_experince">Experience (in months)</legend>
        <input type="text" name="experience" pattern="[0-9]*" placeholder="Experience" maxlength="2"
          onfocus="showlabel('label_experince')" onblur="hidelabel('label_experince')">
      </fieldset>
      <!--Constant da-->
      <fieldset id="f_doj_union">
        <legend id="label_doj">Date Of Join</legend>
        <input type="text" id="doj" name="doj_union" onfocus="showlabel('label_doj'); changetype('doj')"
          onblur="hidelabel('label_doj'); changetype('doj')" placeholder="date of join">
      </fieldset>
      <fieldset id="f_subscription">
        <legend id="label_subs" class="nohide">Subscription type</legend>
        <input type="radio" name="subscription" value="yes">Paid
        <input type="radio" name="subscription" value="no">Free<br>
      </fieldset>

      <fieldset id="f_aadhar">
        <legend id="label_aadhar">Aadhar card number</legend>
        <input type="text" name="aadhar" placeholder="Aadhar card number" onfocus="showlabel('label_aadhar')"
          onblur="hidelabel('label_aadhar')" pattern="^[0-9]{12,12}$" title="Enter the correct number">
      </fieldset>
      <label id="ration_error">Ration card/Smart card:</label>
      <input type="radio" name="ration_card" onclick="return rationcard_yes()" value="yes">Yes
      <input type="radio" name="ration_card" value="no" onclick="return rationcard_no()">No<br>
      <fieldset id="f_ration_card">
        <legend id="label_ration">Enter Card number</legend>
        <input type="text" name="ration_card_no" pattern="[0-9]*" placeholder="Enter card number" id="ration_card">
      </fieldset>
      <hr>
      <p class="label">Bank Details</p>
      <p id="label_fields_bank_error"> Please Enter the Bank account details details below!</p><br>
      <fieldset id="f_bank_account_name">
        <legend id="label_acc_name">User's Account name</legend>
        <input type="text" name="bank_account_name" placeholder="User's Account name"
          onfocus="showlabel('label_acc_name')" onblur="hidelabel('label_acc_name')">
      </fieldset>
      <fieldset id="f_bank_name">
        <legend id="label_bank_name">Name of Bank</legend>
        <input type="text" name="bank_name" placeholder="Name of Bank" onfocus="showlabel('label_bank_name')"
          onblur="hidelabel('label_bank_name')">
      </fieldset>
      <fieldset id="f_bank_branch">
        <legend id="label_bank_branch">Name of Branch</legend>
        <input type="text" name="bank_branch" placeholder="Name of Branch" onfocus="showlabel('label_bank_branch')"
          onblur="hidelabel('label_bank_branch')">
      </fieldset>
      <fieldset id="f_ac_no">
        <legend id="label_account_no">Account Number</legend>
        <input type="text" name="ac_no" pattern="[0-9]*" placeholder="Account Number"
          onfocus="showlabel('label_account_no')" onblur="hidelabel('label_account_no')">
      </fieldset>
      <fieldset id="f_ifsc_no">
        <legend id="label_ifsc">IFSC Number</legend>
        <input type="text" name="ifsc_no" placeholder="IFSC Number" onfocus="showlabel('label_ifsc')"
          onblur="hidelabel('label_ifsc')">
      </fieldset>
      <noscript>
        <style>
          #submitbtn {
            display: none;
          }

          .inline_container {
            display: grid;
            background-color: black;
            grid-template-columns: 40px 80%;
            grid-column-gap: 20px;
            column-gap: 20px;
            margin: auto;
            font-family: monospace;
            padding: 1rem;
          }

          .inline_container>p.message {
            text-align: justify;
            letter-spacing: 1.8px;
            font-size: medium;
            margin: auto;
            color: yellow;
            height: 60px;
            background-color: black;
          }

          .inline_container>img {
            margin: auto;
            background-color: black;
          }
        </style>
        <div class="inline_container">
          <img height="60px" width="60px" src="/static/asserts/warn.png">
          <p class="message"> Please Enable Javascript in your browser to continue. <br> change broswer or Disable
            extensions that blocking Javascript from loading
            <br> We value your privacy , you can trust us. Now turn on Javascript
          </p>
        </div>
      </noscript>
      <input type="submit" onclick="return validate()" id="submitbtn" value="Join">
    </form>
  </div>
  <script>
    //if lwb is yes then make lwb_yes visble to get the joining date 
    function fun_lwb_yes() {
      console.log("so you're already a member *screaming* ")
      document.getElementById('lwb_yes_id').style = "display:block"
      return false
    }

    function fun_lwb_no() {
      console.log("so you're already not a member *laughing* ")
      document.getElementById('lwb_yes_id').style = "display:none"
      return false
    }
  </script>

</body>
{% endblock %}