{% extends 'base.html' %}

{% block head %}
<script src="/static/js/search.js"></script>
<link rel="stylesheet" href="/static/css/alternate.css">
<title>Search for members</title>
<style>
    body {
        margin: 0px auto;
    }

    #logo_left > img {
        height: 10vw;
    }

    #logo_right > img {
        height: 10vw;
        float: right;
    }
    #description h1{
        font-size: 2.4rem;
    }
    @media only screen and (max-width: 600px) {
        #logo_left > img, #logo_right > img {
            display: none;
        }
        #description{
            flex: 100%;
        }
        
    }
</style>
{% endblock %}

{% block body %}

<body>
    <div id="bannercontainer">
        <div id="header">
            <div id="flex-container">
                <div id="logo_left">
                    <img src="/static/asserts/alternate_logo.png" alt="pts logo">
                </div>
                <div id="description">
                    <p>
                        <h1>பெண் தொழிலாளர்கள் சங்கம்(PTS)</h1>

                        <strong>மற்றும் கார்மெண்ட்ஸ் & பேஷன் ஒர்க்கேர்ஸ் யூனியன்(GAFWU)</strong>
                    </p>
                </div>
                <div id="logo_right">
                    <img src="/static/asserts/gafwu.png" alt="GAFWU logo">
                </div>
            </div>
        </div>
    </div>
    <div class="searchcontainer">
        <h3>Search for Member with their name</h3>
        <div id="searchbody">
            <div id="searchbox">
                <input type="search" placeholder="Search.." id="search_input" name="search">
                <button type="submit">Search</button>
            </div>
            <div id="search_suggestions"></div>
        </div>
    </div>
    <script>
        window.onscroll = function () {
            console.log("sc5rolling")
            if (document.body.scrollTop > 50 || document.scrollingElement.scrollTop > 50) {
                this.makeTop("searchbox")
            } else {
                this.removeTop("searchbox")
            }
        }

        function makeTop(elementid) {
            document.getElementById(elementid).style = "top:0px"
        }

        function removeTop(elementid) {
            document.getElementById(elementid).style = "top:auto"
        }
        window.onload = function(){ 
            search = document.getElementsByTagName("input")[0]
            search.addEventListener("focus",function()
            {
              document.getElementById("searchbody").style.width = "80%"
              console.log("focused")  
            })
            search.addEventListener("blur",function(){
                console.log("????")
                if(document.getElementById("search_suggestions").innerHTML == ""){
                    document.getElementById("searchbody").style.width = "50%"
                    console.log("blured")
                }
            })
         }
    </script>
</body>

{% endblock %}