{% extends 'base.html' %}

{% block head %}
<title>Successfuly added</title>
<link rel="stylesheet" href="/static/css/alternate.css">
{% endblock %}

{% block body %}
<body>

    <h1>
        Successfuly Added
    </h1>
    <div id="container">
        <div class="inline_container">
            <img height="60px" width="60px" src="/static/asserts/success_tick.png">
            <p>Successfuly added user</p>
        </div>
        <p class="name_user">Name : {{name}} </p>
        <p class="user_no_family">Number of Family members : {{child_no}} </p>
        <form action="{{ url_for('backtoregister') }}" method="POST">
            <input type="submit" class="return_button" value="Add more users">
        </form>
    </div>

</body>
{% endblock %}